@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#48c6ef), to(#6f86d6));
  background: linear-gradient(#48c6ef, #6f86d6);
  font-family: "Alegreya", sans-serif;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

main .a-cards {
  width: 100%;
  position: relative;
}

main .a-card {
  margin: 1.4%;
  background-color: rgba(255, 255, 255, 0.2);
  height: 47vh;
  padding: 55px 45px;
  padding-top: 27px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-family: "Alegreya", serif;
  color: white;
  font-weight: 700;
  float: left;
  width: 22%;
}

main .a-card::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: skewY(50deg);
          transform: skewY(50deg);
  background-color: rgba(255, 255, 255, 0.08);
}

main .a-card:hover::after {
  left: 100%;
}

main .a-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

main .a-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.4)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 0.5s;
}

main .a-card .a-card-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .a-card .acb-1,
main .a-card .acb-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10% 0px;
}

main .a-card .a-card-img {
  margin-right: 7%;
  font-size: 3rem;
}

main .a-card .wi-time-1 {
  margin-top: 10%;
  font-size: 3rem;
}

main .a-card .temp,
main .a-card .hum,
main .a-card .a-main,
main .a-card .time,
main .a-card .txt-top,
main .a-card .txt-bottom {
  font-size: 1.7rem;
}

main .a-card .a-main {
  margin-top: 3%;
  margin-bottom: 15%;
}

main .a-card .txt-top {
  margin-top: 0;
}

main .a-card .txt-bottom {
  text-transform: capitalize;
}

main input,
main button {
  font-family: "Alegreya", sans-serif;
  letter-spacing: 1px;
}

main .header {
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  margin-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
}

main .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .search-img {
  width: auto;
  padding: 0px 15px;
  height: 6vh;
  color: white;
  background-color: #1f1f1f;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  z-index: 1;
  cursor: pointer;
}

main .search-img:hover {
  -webkit-box-shadow: 0 0 0 0.12rem #f395f7;
          box-shadow: 0 0 0 0.12rem #f395f7;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  background-color: floralwhite;
  -webkit-transition: all 0.2s ease, -webkit-transform 0.5s ease-in-out;
  transition: all 0.2s ease, -webkit-transform 0.5s ease-in-out;
  transition: all 0.2s ease, transform 0.5s ease-in-out;
  transition: all 0.2s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .search-img:active {
  color: white;
  background-color: #1f1f1f;
}

main .search-img:focus {
  outline: 0;
}

main .search-bar {
  padding: 0px 20px;
  font-size: 1.25rem;
  padding-right: 70px;
  width: 30%;
  min-width: 300px;
  height: 6vh;
  border: none;
  border-radius: 21px;
  -webkit-box-shadow: 0 0 0 0.15rem #a9b5f5;
          box-shadow: 0 0 0 0.15rem #a9b5f5;
  background: floralwhite;
}

main .search-bar:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #f7f57e;
          box-shadow: 0 0 0 0.2rem #f7f57e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .pres- {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: "Alegreya", sans-serif;
  color: white;
}

main .pres- .pres {
  font-size: 3.3rem;
  margin-bottom: 10%;
}

main .pres- .pres-t {
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
}

main .pres- .wind-speed,
main .pres- .w-main,
main .pres- .temp-2,
main .pres- .hum-2 {
  float: left;
  width: 12%;
  margin: 0px 6.5%;
  cursor: none;
}

main .pres- .wind-speed:hover,
main .pres- .w-main:hover,
main .pres- .temp-2:hover,
main .pres- .hum-2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #f76234;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 1145px) {
  .search {
    margin-top: 5%;
  }
  .pres- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pres-1,
  .pres-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .pres-1 {
    margin-top: 15%;
    margin-bottom: 12%;
  }
  .a-card {
    margin: 3% !important;
    width: 27% !important;
    height: 48vh !important;
  }
  .a-card:last-child {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (max-width: 958px) {
  .pres-1,
  .pres-2 {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .a-card {
    margin: 7% !important;
    width: 35% !important;
    height: 52vh !important;
  }
  .a-card:last-child {
    float: left;
    margin: 7% !important;
  }
}

@media screen and (max-width: 678px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search .search-bar {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .search .search-img {
    margin-right: 3%;
  }
  .header {
    padding-top: 3%;
    padding-left: 2%;
    font-size: 1.5rem;
  }
  .a-card {
    margin: 14% !important;
    width: 70% !important;
    height: 60vh !important;
  }
  .a-card:last-child {
    float: left;
    margin: 14% !important;
  }
}
/*# sourceMappingURL=styles.css.map */