* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &::before {
    content: "";
    background: linear-gradient(#48c6ef, #6f86d6);
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
  }
  .a-card {
    background-color: rgba(255, 255, 255, 0.2);
    min-height: 350px;
    padding: 55px 50px;
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      transform: skewY(50deg);
      background-color: rgba(255, 255, 255, 0.08);
    }
    &:hover::after {
      left: 100%;
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
      );
      transition: 0.5s;
    }
    .a-card-header {
      text-align: center;
    }
    .a-card-image {
      width: 100px;
      height: 100px;
      background-color: lightskyblue;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .header {
    position: absolute;
    font-size: larger;
    top: 3%;
    left: 5%;
  }
  .search {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .search-img {
    width: auto;
    padding: 0px 15px;
    height: 6vh;
    color: white;
    background-color: rgb(31, 31, 31);
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 1;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 0 0.1rem rgb(224, 219, 219);
      transition: box-shadow 0.3s ease;
    }
    &:active {
      background-color: rgb(85, 85, 85);
      transition: background-color 0.5s ease;
    }
    &:focus {
      outline: 0;
    }
  }
  .search-bar {
    padding: 0px 20px;
    font-size: 1.25rem;
    padding-right: 70px;
    width: 30%;
    min-width: 300px;
    height: 6vh;
    border: none;
    border-radius: 19px;
    box-shadow: 0 0 0 0.15rem rgb(158, 157, 157);
    background: rgb(228, 228, 228);
    &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(169, 181, 245);
      transition: all 0.3s;
    }
  }
}
